.divider {
    margin: 1.5rem 0;
    text-align: center;
    font-weight: 500;
    color: #555;
    position: relative;
  }
  
  .divider::before,
  .divider::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background-color: #ccc;
  }
  
  .divider::before {
    left: 0;
  }
  
  .divider::after {
    right: 0;
  }
  
  .google-login-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
  }
  